<div class="container">
    <div class="row">
        <div class="row">
            <div class="col-md-12">
                <h3> &nbsp;</h3>
            </div>
        </div>
        <div class="row row-centered">
            <div class="col-md-12">
                <h3> </h3>
            </div>
        </div>

        <div class="row row-centered">
            <div class="col-md-6 col-centered">

                <form class="" ng-submit="">

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon0"><i class="fa fa-user"></i> </span>
                            <input type="text" class="form-control" id="name" placeholder="Name" required="" aria-describedby="basic-addon0">
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1"><i class="fa fa-envelope"></i> </span>
                            <input type="email" class="form-control" id="email" placeholder="Email" required="" aria-describedby="basic-addon1">
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon2"><i class="fa fa-phone"></i> </span>
                            <input type="text" class="form-control" id="phone" placeholder="Phone" required="" aria-describedby="basic-addon2">
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon3"><i class="fa fa-lock"></i> </span>
                            <input type="password" class="form-control" id="password1" placeholder="Password" required="" aria-describedby="basic-addon3">
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon4"><i class="fa fa-lock"></i> </span>
                            <input type="password" class="form-control" id="password2" placeholder="Confirm Password" required="" aria-describedby="basic-addon4">
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="social-buttons pull-left">
                            <a href="#" class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a>
                            <a href="#" class="btn btn-ln"> Linked <i class="fa fa-linkedin-square"></i></a>
                        </div>
                        <div class="pull-right">
                            <a ui-sref="dashboard.home"  class="btn btn-outline btn-success pull-right">Sign up</a>
                        </div>


                    </div>

                </form>
            </div>
        </div>


    </div>
</div>
