<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Job Posting Form</h1>
    </div>  
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">

            </div>
            <div class="panel-body">
                <div class="row">
                    <form role="form">
                        <div class="col-lg-8">
                            <div class="col-lg-6">
                                <div class="bottomspacer ">
                                    <label>Company</label>
                                    <select class="form-control">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="bottomspacer">
                                    <label>Email id</label>
                                    <input class="form-control">
                                    <p class="help-block">official id recommended.</p>
                                </div>
                            </div>
                        </div>

                    </form>

                    <!--<div class="col-lg-3">
                        <form role="form">






                            <div class="bottomspacer">
                                <label>Job industry</label>
                                <select class="form-control">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>

                            <div class="bottomspacer">
                                <label>Job function</label>
                                <select class="form-control">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>



                            <div class="bottomspacer">
                                <label>Job designation</label>
                                <input class="form-control">
                                <p class="help-block">Example block-level help text here.</p>
                            </div>


                            <div class="bottomspacer">
                                <label>Location (Country)</label>
                                <select class="form-control">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>

                            <div class="bottomspacer">
                                <label>Location (City)</label>
                                <select class="form-control">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>

                            <div class="bottomspacer">
                                <label>Expected salary range</label>
                                <select class="form-control">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>

                            <div class="bottomspacer">
                                <label>Experience required</label>
                                <select class="form-control">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>

                            <div class="bottomspacer">
                                <label>Reporting Line</label>
                                <select class="form-control">
                                    <option>Yes</option>
                                    <option>No</option>
                                </select>
                            </div>

                            <div class="bottomspacer">
                                <label>Referrer type</label>
                                <select class="form-control">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>

                            <div class="bottomspacer">
                                <label>Job Description</label>
                                <input class="form-control" placeholder="Type the Job Description (Max 250 words)">
                            </div>

                            <div class="bottomspacer">
                                <label>Must Haves</label>
                                <input class="form-control" placeholder="List qualities, skills that candidate mush have (Max 100 words)">
                            </div>

                            <div class="bottomspacer">
                                <label>Good to have</label>
                                <input class="form-control" placeholder="Skills which are not necessarily but highly appreciated if candidate has it (Max 100 words)">
                            </div>

                            <div class="bottomspacer">
                                <label>Skills required</label>
                                <select multiple class="form-control">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>


                            <div class="bottomspacer">
                                <label>Upload JD</label>
                                <input type="file">
                            </div>

                            <button type="submit" class="btn btn-default">Submit Button</button>
                            <button type="reset" class="btn btn-default">Reset Button</button>
                        </form>
                    </div>-->
                    <!-- /.col-lg-6 (nested) -->

                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>