<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <h3> &nbsp;</h3>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-12">
                <ul class="nav nav-pills nav-justified thumbnail setup-panel">
                    <li class="active"><a href="#step-1">
                        <h4 class="list-group-item-heading">Step 1</h4>
                        <p class="list-group-item-text">First step description</p>
                    </a></li>
                    <li class=""><a href="#step-2">
                        <h4 class="list-group-item-heading">Step 2</h4>
                        <p class="list-group-item-text">Second step description</p>
                    </a></li>
                    <li class="disabled"><a href="#step-3">
                        <h4 class="list-group-item-heading">Step 3</h4>
                        <p class="list-group-item-text">Third step description</p>
                    </a></li>
                </ul>
            </div>
        </div>
        <div class="row setup-content" id="step-1" style="display: block;">
            <div class="col-xs-12">
                <div class="col-md-12 well text-center">
                    <h1> STEP 1</h1>

                </div>
            </div>
        </div>
        <div class="row setup-content" id="step-2" style="display: none;">
            <div class="col-xs-12">
                <div class="col-md-12 well">
                    <h1 class="text-center"> STEP 2</h1>
                </div>
            </div>
        </div>
        <div class="row setup-content" id="step-3" style="display: none;">
            <div class="col-xs-12">
                <div class="col-md-12 well">
                    <h1 class="text-center"> STEP 3</h1>
                </div>
            </div>
        </div>
    </div>

</div>