<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav in" id="side-menu">
            <sidebar-search></sidebar-search>
            <li ui-sref-active="active">
                <a ui-sref="dashboard.home"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>
            <li ng-class="{active: collapseVar==1}" >
                <a href="" ng-click="check(1)"><i class="fa fa-wrench fa-fw"></i> Job Seeker<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse " collapse="collapseVar!=1" style="height: auto;">
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.register">Register</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.jobsearch">Job Search</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li ng-class="{active: collapseVar==2}" >
                <a href="" ng-click="check(2)"><i class="fa fa-wrench fa-fw"></i> Referral<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" collapse="collapseVar!=2" style="height: auto;">
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.panels-wells">Post Job</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.buttons">Search Resume</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li ui-sref-active="active">
                <a ui-sref="dashboard.home"><i class="fa fa-dashboard fa-fw"></i> Mail</a>
            </li>
        </ul>
    </div>


    <!-- /.sidebar-collapse -->
</div> 



